<div style="background-color: #e9eaed;">
	<h1>최신 아이디어</h1>
	<div style="background-color: #ffffff; width: 400px; border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
		<h3 style="color: blue;"><%= @writer %></h3>
		<p><%= @idea %></p>
	</div><br>
	<a href="/wall/write">이 아이디를 발전시켜보세요</a>
</div>
