<div style="background-color:#e9eaed;">
	<h1>당신의 아이디어가 궁금해요!</h1>
	<form action="/wall/posts" method="post">
		Name: <input type="text" name="writer" placeholder="당신의 이름은?"><br>
		Content: <br>
		<textarea name="idea" cols="40" row="5" placeholder="당신의 아이디어를 써보세요."</textarea>
		<input type="submit" value="write">
	</form>
</div>

